<div class="table-responsive col-md-12">
  <h2>Shopping Cart - Checkout</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td><b>Name</b></td>
        <td><b>Item</b></td>
        <td><b>Unit Price</b></td>
        <td><b>Quantity</b></td>
        <td><b>Total Price</b></td>
        <td><b>Options</b></td>
      </tr>
    </thead>
    <tbody id="itemsCart">      
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="empty-summary">&nbsp;</td>
        <td class="total-ammount">$ </td>
        <td class="empty-summary">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>
