<td>{{name}}</td>
<td><img src="{{thumbURL}}" class="table-thumbnail"/></td>
<td>$ {{price}}</td>
<td></td>
<td>$ </td>
<td><button type="button" class="btn btn-danger delete-item" data-id="{{id}}">Eliminar</button></td>
