<h2>Shopping Cart - Checkout</h2>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Item</td>
        <td>Unit Price</td>
        <td>Quantity</td>
        <td>Total Price</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody id="itemsCart">      
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="empty-summary">&nbsp;</td>
        <td class="total-ammount">$ {{totalAmmount}}</td>
        <td class="empty-summary">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>
