  <!-- slide-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner"></div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
  <!-- /slide -->

  <!-- content -->
  <div class="row">
      <div id="book-shop" class="col-md-12">
          <h2>Welcome to Book Store</h2>
          <p>This is a simple store where you can buy many books from easy way...</p>
          <div id="articles">
            <ul id="books-list"></ul>            
          </div>
      </div>
  </div>
  <!-- /content -->
  